<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754086877220-8s59r05sttnln5un3dt94g1egcbfv75t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754086877220-8s59r05sttnln5un3dt94g1egcbfv75t</string>
	<key>API_KEY</key>
	<string>AIzaSyBGEf-Zwdj7WChdjEfFOu_k5ruBEFg1Bj0</string>
	<key>GCM_SENDER_ID</key>
	<string>754086877220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aibadigital.Aiba-Digital-Dev</string>
	<key>PROJECT_ID</key>
	<string>aiba-digital-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>aiba-digital-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754086877220:ios:4cf43f364994298bfee0b1</string>
</dict>
</plist>